absl-py==0.1.13
alabaster==0.7.10
appnope==0.1.0
astor==0.6.2
astroid==1.6.1
Babel==2.5.3
backcall==0.1.0
bleach==1.5.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
cutelog==1.1.7
cycler==0.10.0
decorator==4.2.1
docutils==0.14
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
idna==2.6
imageio==2.3.0
imagesize==1.0.0
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.11.1
Jinja2==2.10
joblib==0.11
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.0
mccabe==0.6.1
moviepy==0.2.3.3
networkx==2.1
numpy==1.14.2
packaging==17.1
pandas==0.22.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
pydicom==1.0.2
Pygments==2.2.0
pylint==1.8.2
pyparsing==2.2.0
pypng==0.0.18
PyQt5==5.10.1
python-dateutil==2.7.0
python-dotenv==0.8.2
pytz==2018.3
PyWavelets==0.5.2
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
snakeviz==0.4.2
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinx-autodoc-typehints==1.3.0
sphinx-rtd-theme==0.3.0
sphinxcontrib-websupport==1.0.1
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
tornado==5.0
tqdm==4.23.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
